html {
  scroll-behavior: smooth;
}
section {
  padding-top: 100px;
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hearing-test-container {
  background: linear-gradient(to bottom right, #2aba97, #3e7dfc);
  color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

button {
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  transform: scale(1.05);
}

